@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spline+Sans:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(sample.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ccc;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

h1,h2{
    font-weight: 400;
    margin: 0.4rem;
}

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 1.8rem;
    color: #aaa;
}

.txt{
    font-weight: 700;
    border-right: 0.2rem solid #777;
}

@media (max-width:1200px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.6rem;
    }
}

@media (max-width:800px){
    .container{
        padding: 0 2rem;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.6rem;
    }
}

@media (max-width: 500px){
    h1{
        font-size: 1.4rem;
    }
    h2{
        font-size: 1rem;
    }
}