@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: #fff;
    line-height: 1.6;
}

.slider{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current{
    opacity: 1;
}

.slide .content{
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 35px;
}

.slide.current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.slide.content h1{
    margin-bottom: 10px;
}

.buttons{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.buttons button{
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover{
    background-color: #fff;
    color: #333;
}

@media (max-width:500px) {
    .slide .content{
        left: 0;
        bottom: -300px;
        width: 100%;
    }

    .slide.current .content{
        transform: translateY(-300px);
    }
}


/* images  */
.slide:nth-child(1){
    background: url('./images/1.jpg') no-repeat center center / cover;
}
.slide:nth-child(2){
    background: url('./images/2.jpg') no-repeat center top / cover;
}
.slide:nth-child(3){
    background: url('./images/3.jpg') no-repeat center top / cover;
}
.slide:nth-child(4){
    background: url('./images/4.jpg') no-repeat center top / cover;
}
.slide:nth-child(5){
    background: url('./images/5.jpg') no-repeat center top / cover;
}
.slide:nth-child(6){
    background: url('./images/6.jpg') no-repeat center top / cover;
}
